.jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color: #fff;
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 40rem;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: .25rem;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.clickable {
    cursor: pointer;
}

.card i {
    transition: color .1s;
    margin-left: 5px;
}

.card i:hover {
    color: #7290B2;
}

.pagination-control {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 10px;
}

.list-group-item {
    background-color: transparent;
}

.modal-body .row > div > * {
    width: 100%;
}

.modal-body .list-group {
    margin-top: 20px;
}

#export-modal textarea {
    width: 100%;
    min-height: 150px;
}